.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 30px;
}

.listItemLink {
    font-size: 18px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: var(--accent);
        color: white;
    }
}